<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Funcionário</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/botaosuspenso.css">

</head>
<body>

    <nav class="navbar">
        <div class="container">
            <h1 class="logo">Sistema RH</h1>
                <ul class="nav-links">
                    <li><a th:href="@{/index/homepage}">Home</a></li>
                    <li><a th:href="@{/index/exibirTodosFuncionarios}">Exibir Funcionários</a></li>
                    <li><a th:href="@{/index/exibirTodosTrabalhos}">Exibir Trabalhos</a></li>
                    <li><a th:href="@{/index/adicionarFuncionario}">Adicionar Funcionário</a></li>
                    <li><a th:href="@{/index/adicionarTrabalho}">Adicionar Trabalho</a></li>
                </ul>
          </div>
    </nav>

    <main class="form-container">

        <div th:if="${mensagem}" th:text="${mensagem}"></div>
        <form th:action="${funcionario.id} != null ? @{/index/alterar/{id}(id=${funcionario.id})} : @{/index/salvar}" th:object="${funcionario}" method="post" class="form-box">
            <h2 th:text="${funcionario.id} != null ? 'Editar Funcionário' : 'Cadastrar Funcionário'"></h2>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:fiel="*{nome}" required>

            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade" min="0" th:fiel="*{idade}" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:fiel="*{email}" required>

            <label for="trabalhos">Trabalho:</label>
            <select id="trabalhos" name="trabalhos" th:field="*{trabalhos}" required>
                <option value="" disabled selected>Selecione um trabalho para o funcionário</option>
                <option th:each="trabalho : ${listaTrabalhos}"
                        th:value="${trabalho.id}"
                        th:text="${trabalho.cargo} + ' - ' + ${trabalho.cargaHoraria} + 'h'">
                </option>
            </select>

            <button type="submit" th:text="${funcionario.id} != null ? 'Atualizar funcionário' : 'Cadastrar funcionário'"></button>

        </form>

    </main>

</body>
</html>
